<main>
    <div class="container body-container">
        <div class="row">
            <div id="main" class="col-sm-9">
                <div>
                    Email: <span th:text="${user.email}"></span>
                    <br/>
                    Full Name: <span th:text="${user.fullName}"></span>
                    <br/>
                    User ID: <span th:text="${user.id}"></span>
                    <br/>

                </div>
            </div>
        </div>
    </div>
    <!--Article summary in Profile BEGIN-->
    <div class="container body-content" sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="row">
            <th:block th:each="article : ${articles}">
                <div class="col-md-6">
                    <article>
                        <header>
                            <h2 th:text="${article.title}"></h2>
                        </header>

                        <img th:if="${article.imagePath} !=null"
                             th:src="${article.imagePath}" alt="Article image" width="120px" height="120"/>

                        <p th:utext="${article.summary}"></p>


                        <p></p>
                        <small class="author" th:text="${article.author.fullName}"></small>

                        <footer>
                            <div class="pull-right">
                                <div class="pull-right">
                                    <a class="btn btn-success btn-xs"
                                       th:href="@{/article/edit/{id}(id = ${article.id})}">Edit</a>
                                    <a class="btn btn-danger btn-xs"
                                       th:href="@{/article/delete/{id}(id = ${article.id})}">Delete</a>
                                    <a class="btn btn-default btn-xs"
                                       th:href="@{/article/{id}(id=${article.id})}">Read more &raquo;</a>
                                </div>
                            </div>
                        </footer>
                    </article>
                </div>
            </th:block>
        </div>
    </div>
    <!--Article summary in Profile END-->
</main>